*{
    padding: 0;
    margin: 0;
    box-sizing:0 ;
}
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.header_appointment{
    display: flex;
    justify-content: space-between;
}
.appontment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue;
    margin-top: 10px;
}
.appontment a{
    text-decoration: none;
    list-style: none;
}
.logo_left img{
    width: 200px;
}
/* form_contact_section */
.container_form_contact{
   
    margin-top: 20px;
    width: 100%;
    display: block;
}
.form_contact{
    
    width: 80%;
    margin: auto;
}
.describtion ::first-line{
    color: blue;
    font-size: 20px;
}
.contact_form{
  border-radius: 5px;
  padding: 20px;
}
input{
    width: 100%;
    padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;

}

