*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* file(page-partners) */
.home_partners span{
    color: blue;
}
.our_partners{
    color: blue;
    font-size: 34px;
}
.container_partner_page{
    /* background-color: brown; */
    width: 100%;
    padding: 20px;
}
.contianer_title_and_logo{
    width: 80%;
    margin: 20px;
    margin: auto;
    font-size: 34px;
    padding: 60px;
    color: blue;
    font-weight: bold;
    /* background-color: chartreuse; */

}
hr{
    color: blue;
    width: 700px;
}
.logo_partners {
    /* margin: 30px; */
    padding: 20px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    gap: 30px;

}  
.framed_pic{
    width: 90%;
  border: 1px solid #555; /* Width, style, and color of the border */
  border-radius: 10px;    /* Optional: for rounded corners */
  padding: 5px;           /* Optional: space between image and frame */


}


/* file(find_doctors) */
.where_we_are_in{
    background-color: #eef6fb;
    width: 100%;
    display: block;
    padding: 40px;
    margin-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
.title_we_are_in{
    /* background-color: rgb(9, 218, 148); */
    width: 80%;
    margin: 20px;
    margin: auto;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: #0a39d1;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.our_doctors{
    color: #0a39d1;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.massive_container_in_doctors{
    /* background-color: crimson; */
    display: block;
    width: 100%;
}
.search_container{
    margin-top: 40px;
}
.search__title_pic_doctors{
    
    width: 80%;
    /* background-color: rgb(37, 192, 17); */
    margin: 20px;
    margin: auto;
}
.search_bar {
    display: flex;
    align-items: flex-start;
    background-color: #e7dada; 
    border-radius: 40px; 
    padding: 5px 25px;
    width: 1200px; 
    margin: 0 auto; 
    border: 1px solid #162ae0; 
}
.search_icon {
    font-size: 1.5em;
    margin-right: 15px;
    margin-top: 10px;
    color: #000000; 
}
.search_input {
    flex-grow: 1; 
    border: none;
    outline: none; 
    padding: 5px 0;
    color: #333; 
    background-color: transparent; 
}
.search_input::placeholder {
    color: #121111; 
    font-weight: 300;
}
.specialization_each_doctors{
    margin-top: 40px;
    /* background-color: goldenrod; */
    display: flex;
    justify-content: space-between;

}
.button {
    border-radius: 5px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #0a39d1;
}

.button1:hover {
  background-color: #153be4;
  color: white;
}
.container_fram_pic_doctor{
    margin-top: 40px;
    /* background-color: rgb(248, 88, 14); */
    display: flex;
    justify-content: space-between;
}
.fram_pic_doctors {
    text-align: center;
    width: 300px;
    height: 350px;
    display: block;  
    border-radius: 20px ;
    border-radius: 40px solid #000000;
}

.circle_image{
  width: 200px;         /* Set a specific width */
  height: 200px;        /* Set the same height to make it a square */
  border-radius: 50%;   /* This creates the circular shape */
  object-fit: cover;    /* Ensures the image covers the entire circle area */

}
.button_profile{
    margin-top: 30px;
   background-color: white;
    padding: 10px 32px;
    cursor: pointer;
    border-radius: 10px;
}
.button_profile:hover{
    background-color: #153be4;
  color: white;
}
.fram_pic_doctors {
    border: #000 solid 2px;
}
.fram_pic_doctors :hover{
    transition: all 0.25s ease-in-out;
}
.container2_fram_pic_doctor{
    /* background-color: rgb(248, 88, 14); */
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


/* file(page-appointment) */
.header_appointment{
    margin-top: 75px;
    background-color: #eef6fb;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.appontment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue;
    margin-top: 10px;
    font-weight: bold;
}
.appontment a{
    text-decoration: none;
    list-style: none;
}
.logo_left img{
    width: 200px;
}
.line{
    width: 100%;
}
/* form_contact_section */
.container_form_contact{
   
    margin-top: 20px;
    width: 100%;
    display: block;
}
.form_contact{
    
    width: 80%;
    margin: auto;
}
.describtion ::first-line{
    color: blue;
    font-size: 20px;
}
.contact_form{
  border-radius: 5px;
  padding: 20px;
}
input{
    width: 100%;
    padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;

}
.submit {
    border-radius: 5px;
  border: none;
  width: 100%;
 
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.submit:hover {
  background-color: #153be4;
    
}


/* file(contact-page) */
.container_contact{
    margin-top: 20px;
    width: 100%;
    /* background-color: #a71b1b; */
}
.container_big{
    gap: 20px;
    width: 80%;
    /* background-color: #cef108; */
    margin: 20px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.containter_contact_us{
    width: 100%;
    /* background-color: #0a39d1; */

}
.media span{
    color: #000;

}
.underline{
    width: 200px;
    color: #0a39d1;
}
h2{
    color: #0a39d1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.underline_form_contact{
    width: 400px;
    color: #0a39d1;
}
.media{
    display: grid;
}

.icon_media{
    display: flex;
    gap: 10px;
}
.form_contact{
    margin-bottom: 160px;
}

/* file(header) */
.header{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    position: fixed;
    scroll-behavior: smooth;
    padding: 20px;
    border-radius: 5px;
    z-index: 100000000;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    margin: auto;

}
.container_header{
    
}
.header img{
    max-width: 100px;
  height: auto;
}
/* nav_bar */
.menu {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 10px 20px;
    margin: 0;
}

.menu a {
    position: relative; /* REQUIRED */
    text-decoration: none;
    font-size: 24px;
    color: #333;
    padding-bottom: 6px;
}

/* underline effect */
.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #256ff7;
    transition: width 0.3s ease;
}

/* hover underline */
.menu a:hover::after {
    width: 100%;
}

/* STAY underline on clicked page */
.current-menu-item > a::after,
.current_page_item > a::after {
    width: 100%;
}

/* active text color */
.current-menu-item > a {
    color: #256ff7;
}



/* file(footer) */
footer{
    width: 100%;
    margin-top: 100px;
  background-color: #eef6fb;
    border: 1px;
    border-radius: 1px solid #000;
}
.container_footer{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;
   margin: 20px;
   margin: auto;
   width: 80%;
    margin-top: auto;
   
}
.contact_Navigation_Social{
    display: flex;
    gap:20px;
}
.contact_us{
  display: block; 
}
.title_footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0a39d1;
}
.title_footer:hover{
    color: #000;

}
.icon_contact span{
 color: #000;
}
.media_contact{
    gap: 10px;
    color: #000;
    font-size: 30px;
}
.fast_quick{
    display: block;
}
.fast_quick a{
    color: #000;
    text-decoration: none;
    list-style: none;
}
.fast_quick :hover{
    color: #0a39d1;
    text-decoration: underline;

}
.underline_in_footer{
    color: #000;
    width: 1200px;
    margin: auto;
}
.last_txt_footer{
    text-align: center;
}

/* file(about_page) */
.container_clinic_appreance{
    width: 100%;
    margin-top: 75px;
   
    display: block;
}
.title_clinic_appreance{
    width: 80%;
    margin: 20px;
    margin: auto;
   
    display: block;
}
.title_clinic_appreance{
    color: #0a39d1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.clinic_appreance {
    border-radius: 10px;
    display: block;      /* ensures proper rendering */
        /* responsive */
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #000; /* optional border */
}


.clinic_appreance {
    transition: transform 0.3s ease;
}

.clinic_appreance:hover {
    transform: scale(1.05);
}

.line_in_page_about{
    margin: auto;
    width: 200px;
}
/* waiting_room_file_about */
.img_file_about{
   display: inline-flex;
   gap: 70px;
}
.img_file_about img{
    width: 300px;
    height: 200px;
}
.last_img_4_row_1{
    display: flex;
}
.last_img_4_row_2{
    display: flex;
}