.body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 2rem;

}
.logo{
    width: 200px;

}
.logo img{
    width: 90%;
    object-fit: cover;
    
}